<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name=".ParseLoginActivity"
        android:allowBackup="true">
        <meta-data 
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />              
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/my_app_name"
            android:launchMode="singleTop">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
        </activity>
    </application>

</manifest>
